
html {
    box-sizing: border-box;
}

body {
    background-color: #F1E8EC;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    flex: 1;
    width: 100%;
    padding: 0;
}

.header {
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #31121E;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    border: 1px solid black;
    
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #F1E8EC;
}

.left, .right {
    max-width: 100%;
    color: white;
    font-size: 20px;
}

.top {
    background-color: #820F3C;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px;
}

.item-left, .item-right {
    width: 380px;
    padding: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    margin-bottom: 20px;
    color: whitesmoke;
 }
 

h1 {
    color: whitesmoke;
}

h1 {
    font-size: 48px;
}

h2 {
    display: flex;
    flex-direction: row;
    padding: 9px;
    gap: 9px;
}

p {
    font-size: 18px;
    font-style: italic;
}

img {
    width: 400px;
    height: auto;
}

button {
    border-radius: 5px;
    border-color: white;
    background-color:#3882f6;
    color: white;
    padding: 10px;
    margin: auto;
    border-style: none;
}


h3 {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}


.body-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;

   }

   .item-2 {
    width: 200px;
    height: 200px;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;  
    background-size: cover;
    background-position: center center;
    border: 3px solid whitesmoke;
    width: 180px;
    padding: 10px;
}


.footer {
    background-color: #31121E;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
    font-style: italic;
}



.quote {
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
    font-style: italic;
    font-weight: lighter;
    width: 100%;
    height: auto;

}

.quote-right {
   margin-left: 200px;
   font-size: 15px;
   font-weight: bold;
   font-style: italic;
}

.action-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 50px;
}

.box {
    background-color: #3882f6;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 100px;
    flex-grow: 0;
}

.call-left {
    color: aliceblue;
    margin-left: 50px;
}

.call-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
}